.home{
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    /* padding: 5%; */
}
.crop-image img{
    max-height: 100px;
    /*width:  100%;*/
    object-fit: contain;
    margin-bottom: 15px;
}
.card{
    background-color: #F0F0F0;
    /* flex: 10%; */
    border-radius: 20px;
    height: 20%;

    
}
.drop-image img{
    max-height: 100px;
    width:  100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.soil-image img{
    max-height: 100px;
    width:  100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.irrigation-image img{
    max-height: 100px;
    width:  100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.crop_details{
    height: 100px;
    margin-bottom: 15px;
}
.c0{
    width: 90%;
}
.c1{
    width: 100%;
    margin-left: 7%;
}
 .cardr0:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    border-radius: 15px;
} 
.input{
    width: 80%;
    margin-left: 10%;
}
.r1{
    display: flex;
    
}
.r0{
    display: flex;
    text-align: center;
    padding: 1px;
}
.cardr0{
    flex: 25%;
}
.sep{
    width: 100%;
    margin-top: 30px;
}
.gooey-button{
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    /* background-color: #4CAF50; */
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.gooey-button:hover{
    /* background-color: #3e8e41 */
    background-color: whitesmoke;
    color: black;
    }
.gooey-button:active {
    /* background-color: #3e8e41; */
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.Default{
    width: 120px;
    margin-left: 2%;
}
.cb{
    display: flex;
    margin-left: 30%;
    margin-top: 5px;
}
.inp{
    display: flex;
    margin-left: 24%;
}
.inp1{
    display: flex;
    margin-left: 6%;
}
.inp2{
    display: flex;
    margin-left: 18%;
}
.card1{
    margin-right: 10%;
    margin-left: 10%;
}
.cardc{
    margin-right: 7%;
    margin-left: 7%;
}
.crop_details{
    height: 100px;
    margin-bottom: 15px;
}
.crop_details1{
    height: 100px;
}
.graph{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
}
.yrgraph{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.at{
    width: 100%;
}
.eto{
    margin-left: 10px;
}
.twgraph{
    margin-top: 10px;
    max-height: 20%;
}
.lrl{
    margin-top: 7%;
}
.graphdes{
    display: grid;
}
.adv{
    display: flex;
}
.graphdi{
    margin-left: 20%;
    margin-right: 20%;
}
.graph1{
}
.Component-root-1{
    height: 230px;
}
.gdes{
}
.fob{
    margin-top: 3%;
}
.lrp{
    display: flex;
}
.f1{
    display: flex;
    margin-top: 1%;
}
.adsi{
    /* display: inline-block */
    margin-left: 8%;
}
.adpn{
    margin: 1.5%;
    margin-left: 7%;
}
.adoc{
    width: 15%;
    margin-top: 1%;
    margin-left: 1%;
}
.aey{
    margin-left: 10%;
    margin-top: 2.5%;
}
.aetm{
    margin-left: 2%;
    margin-top: 2.5%;
}
.acc{
    margin-left: 3.5%;
    margin-top: 2.5%;
}
.apc{
    margin-left: 10%;
    margin-top: 2.5%;
}
.aco{
    margin-left: 11%;
    margin-top: 2.5%;
}
.atop{
    display: flex;
    margin-left: 16%;
}
.adpn2{
    margin: 1.5%;
    margin-left: 7%;
}
.adpn3{
    margin: 1.5%;
    margin-left: 7%;
}
.adpn4{
    margin: 1.5%;
    margin-left: 7%;
}
.mainhead{
    text-align: left;
    text-align: justify;
}
.csout{
    text-align: left;
    margin-left: 40%;
}